<table class="min-w-full text-left text-sm/6 text-zinc-950 dark:text-white">
  <thead class="text-zinc-500 dark:text-zinc-400">
  <tr class="">
    <th
      class="border-b border-b-zinc-950/10 px-4 py-2 font-medium dark:border-b-white/10 sm:first:pl-1 sm:last:pr-1">
      Order number
    </th>
    <th
      class="border-b border-b-zinc-950/10 px-4 py-2 font-medium dark:border-b-white/10 sm:first:pl-1 sm:last:pr-1">
      Purchase date
    </th>
    <th
      class="border-b border-b-zinc-950/10 px-4 py-2 font-medium dark:border-b-white/10 sm:first:pl-1 sm:last:pr-1">
      Customer
    </th>
    <th
      class="border-b border-b-zinc-950/10 px-4 py-2 font-medium dark:border-b-white/10 sm:first:pl-1 sm:last:pr-1">
      Event
    </th>
    <th
      class="text-right border-b border-b-zinc-950/10 px-4 py-2 font-medium dark:border-b-white/10 sm:first:pl-1 sm:last:pr-1">
      Amount
    </th>
  </tr>
  </thead>
  <tbody>
  <tr
    class="has-[[data-row-link][data-focus]]:outline has-[[data-row-link][data-focus]]:outline-2 has-[[data-row-link][data-focus]]:-outline-offset-2 has-[[data-row-link][data-focus]]:outline-blue-500 dark:focus-within:bg-white/[2.5%] hover:bg-zinc-950/[2.5%] dark:hover:bg-white/[2.5%]">
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3000" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3000" tabindex="0"></a>3000
    </td>
    <td
      class="text-zinc-500 relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3000" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3000" tabindex="-1"></a>May 9, 2024
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3000" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3000" tabindex="-1"></a>Leslie Alexander
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3000" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3000" tabindex="-1"></a>
      <div class="flex items-center gap-2"><span
        class="size-6 inline-grid shrink-0 align-middle [--avatar-radius:20%] [--ring-opacity:20%] *:col-start-1 *:row-start-1 outline outline-1 -outline-offset-1 outline-black/[--ring-opacity] dark:outline-white/[--ring-opacity] rounded-full *:rounded-full"
        data-slot="avatar"><img
        alt="" class="size-full"
        src="/events/bear-hug-thumb.jpg"></span><span>Bear Hug: Live in Concert</span>
      </div>
    </td>
    <td
      class="text-right relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3000" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3000" tabindex="-1"></a>US$80.00
    </td>
  </tr>
  <tr
    class="has-[[data-row-link][data-focus]]:outline has-[[data-row-link][data-focus]]:outline-2 has-[[data-row-link][data-focus]]:-outline-offset-2 has-[[data-row-link][data-focus]]:outline-blue-500 dark:focus-within:bg-white/[2.5%] hover:bg-zinc-950/[2.5%] dark:hover:bg-white/[2.5%]">
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3001" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3001" tabindex="0"></a>3001
    </td>
    <td
      class="text-zinc-500 relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3001" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3001" tabindex="-1"></a>May 5, 2024
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3001" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3001" tabindex="-1"></a>Michael Foster
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3001" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3001" tabindex="-1"></a>
      <div class="flex items-center gap-2"><span
        class="size-6 inline-grid shrink-0 align-middle [--avatar-radius:20%] [--ring-opacity:20%] *:col-start-1 *:row-start-1 outline outline-1 -outline-offset-1 outline-black/[--ring-opacity] dark:outline-white/[--ring-opacity] rounded-full *:rounded-full"
        data-slot="avatar"><img
        alt="" class="size-full" src="/events/six-fingers-thumb.jpg"></span><span>Six Fingers — DJ Set</span>
      </div>
    </td>
    <td
      class="text-right relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3001" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3001" tabindex="-1"></a>US$299.00
    </td>
  </tr>
  <tr
    class="has-[[data-row-link][data-focus]]:outline has-[[data-row-link][data-focus]]:outline-2 has-[[data-row-link][data-focus]]:-outline-offset-2 has-[[data-row-link][data-focus]]:outline-blue-500 dark:focus-within:bg-white/[2.5%] hover:bg-zinc-950/[2.5%] dark:hover:bg-white/[2.5%]">
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3002" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3002" tabindex="0"></a>3002
    </td>
    <td
      class="text-zinc-500 relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3002" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3002" tabindex="-1"></a>Apr 28, 2024
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3002" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3002" tabindex="-1"></a>Dries Vincent
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3002" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3002" tabindex="-1"></a>
      <div class="flex items-center gap-2"><span
        class="size-6 inline-grid shrink-0 align-middle [--avatar-radius:20%] [--ring-opacity:20%] *:col-start-1 *:row-start-1 outline outline-1 -outline-offset-1 outline-black/[--ring-opacity] dark:outline-white/[--ring-opacity] rounded-full *:rounded-full"
        data-slot="avatar"><img
        alt="" class="size-full"
        src="/events/we-all-look-the-same-thumb.jpg"></span><span>We All Look The Same</span></div>
    </td>
    <td
      class="text-right relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3002" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3002" tabindex="-1"></a>US$150.00
    </td>
  </tr>
  <tr
    class="has-[[data-row-link][data-focus]]:outline has-[[data-row-link][data-focus]]:outline-2 has-[[data-row-link][data-focus]]:-outline-offset-2 has-[[data-row-link][data-focus]]:outline-blue-500 dark:focus-within:bg-white/[2.5%] hover:bg-zinc-950/[2.5%] dark:hover:bg-white/[2.5%]">
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3003" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3003" tabindex="0"></a>3003
    </td>
    <td
      class="text-zinc-500 relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3003" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3003" tabindex="-1"></a>Apr 23, 2024
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3003" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3003" tabindex="-1"></a>Lindsay Walton
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3003" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3003" tabindex="-1"></a>
      <div class="flex items-center gap-2"><span
        class="size-6 inline-grid shrink-0 align-middle [--avatar-radius:20%] [--ring-opacity:20%] *:col-start-1 *:row-start-1 outline outline-1 -outline-offset-1 outline-black/[--ring-opacity] dark:outline-white/[--ring-opacity] rounded-full *:rounded-full"
        data-slot="avatar"><img
        alt="" class="size-full"
        src="/events/bear-hug-thumb.jpg"></span><span>Bear Hug: Live in Concert</span>
      </div>
    </td>
    <td
      class="text-right relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3003" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3003" tabindex="-1"></a>US$80.00
    </td>
  </tr>
  <tr
    class="has-[[data-row-link][data-focus]]:outline has-[[data-row-link][data-focus]]:outline-2 has-[[data-row-link][data-focus]]:-outline-offset-2 has-[[data-row-link][data-focus]]:outline-blue-500 dark:focus-within:bg-white/[2.5%] hover:bg-zinc-950/[2.5%] dark:hover:bg-white/[2.5%]">
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3004" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3004" tabindex="0"></a>3004
    </td>
    <td
      class="text-zinc-500 relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3004" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3004" tabindex="-1"></a>Apr 18, 2024
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3004" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3004" tabindex="-1"></a>Courtney Henry
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3004" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3004" tabindex="-1"></a>
      <div class="flex items-center gap-2"><span
        class="size-6 inline-grid shrink-0 align-middle [--avatar-radius:20%] [--ring-opacity:20%] *:col-start-1 *:row-start-1 outline outline-1 -outline-offset-1 outline-black/[--ring-opacity] dark:outline-white/[--ring-opacity] rounded-full *:rounded-full"
        data-slot="avatar"><img
        alt="" class="size-full" src="/events/viking-people-thumb.jpg"></span><span>Viking People</span></div>
    </td>
    <td
      class="text-right relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3004" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3004" tabindex="-1"></a>US$114.99
    </td>
  </tr>
  <tr
    class="has-[[data-row-link][data-focus]]:outline has-[[data-row-link][data-focus]]:outline-2 has-[[data-row-link][data-focus]]:-outline-offset-2 has-[[data-row-link][data-focus]]:outline-blue-500 dark:focus-within:bg-white/[2.5%] hover:bg-zinc-950/[2.5%] dark:hover:bg-white/[2.5%]">
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3005" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3005" tabindex="0"></a>3005
    </td>
    <td
      class="text-zinc-500 relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3005" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3005" tabindex="-1"></a>Apr 14, 2024
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3005" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3005" tabindex="-1"></a>Tom Cook
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3005" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3005" tabindex="-1"></a>
      <div class="flex items-center gap-2"><span
        class="size-6 inline-grid shrink-0 align-middle [--avatar-radius:20%] [--ring-opacity:20%] *:col-start-1 *:row-start-1 outline outline-1 -outline-offset-1 outline-black/[--ring-opacity] dark:outline-white/[--ring-opacity] rounded-full *:rounded-full"
        data-slot="avatar"><img
        alt="" class="size-full" src="/events/six-fingers-thumb.jpg"></span><span>Six Fingers — DJ Set</span>
      </div>
    </td>
    <td
      class="text-right relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3005" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3005" tabindex="-1"></a>US$299.00
    </td>
  </tr>
  <tr
    class="has-[[data-row-link][data-focus]]:outline has-[[data-row-link][data-focus]]:outline-2 has-[[data-row-link][data-focus]]:-outline-offset-2 has-[[data-row-link][data-focus]]:outline-blue-500 dark:focus-within:bg-white/[2.5%] hover:bg-zinc-950/[2.5%] dark:hover:bg-white/[2.5%]">
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3006" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3006" tabindex="0"></a>3006
    </td>
    <td
      class="text-zinc-500 relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3006" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3006" tabindex="-1"></a>Apr 10, 2024
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3006" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3006" tabindex="-1"></a>Whitney Francis
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3006" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3006" tabindex="-1"></a>
      <div class="flex items-center gap-2"><span
        class="size-6 inline-grid shrink-0 align-middle [--avatar-radius:20%] [--ring-opacity:20%] *:col-start-1 *:row-start-1 outline outline-1 -outline-offset-1 outline-black/[--ring-opacity] dark:outline-white/[--ring-opacity] rounded-full *:rounded-full"
        data-slot="avatar"><img
        alt="" class="size-full"
        src="/events/we-all-look-the-same-thumb.jpg"></span><span>We All Look The Same</span></div>
    </td>
    <td
      class="text-right relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3006" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3006" tabindex="-1"></a>US$150.00
    </td>
  </tr>
  <tr
    class="has-[[data-row-link][data-focus]]:outline has-[[data-row-link][data-focus]]:outline-2 has-[[data-row-link][data-focus]]:-outline-offset-2 has-[[data-row-link][data-focus]]:outline-blue-500 dark:focus-within:bg-white/[2.5%] hover:bg-zinc-950/[2.5%] dark:hover:bg-white/[2.5%]">
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3007" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3007" tabindex="0"></a>3007
    </td>
    <td
      class="text-zinc-500 relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3007" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3007" tabindex="-1"></a>Apr 6, 2024
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3007" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3007" tabindex="-1"></a>Leonard Krasner
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3007" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3007" tabindex="-1"></a>
      <div class="flex items-center gap-2"><span
        class="size-6 inline-grid shrink-0 align-middle [--avatar-radius:20%] [--ring-opacity:20%] *:col-start-1 *:row-start-1 outline outline-1 -outline-offset-1 outline-black/[--ring-opacity] dark:outline-white/[--ring-opacity] rounded-full *:rounded-full"
        data-slot="avatar"><img
        alt="" class="size-full"
        src="/events/bear-hug-thumb.jpg"></span><span>Bear Hug: Live in Concert</span>
      </div>
    </td>
    <td
      class="text-right relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3007" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3007" tabindex="-1"></a>US$80.00
    </td>
  </tr>
  <tr
    class="has-[[data-row-link][data-focus]]:outline has-[[data-row-link][data-focus]]:outline-2 has-[[data-row-link][data-focus]]:-outline-offset-2 has-[[data-row-link][data-focus]]:outline-blue-500 dark:focus-within:bg-white/[2.5%] hover:bg-zinc-950/[2.5%] dark:hover:bg-white/[2.5%]">
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3008" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3008" tabindex="0"></a>3008
    </td>
    <td
      class="text-zinc-500 relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3008" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3008" tabindex="-1"></a>Apr 3, 2024
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3008" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3008" tabindex="-1"></a>Floyd Miles
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3008" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3008" tabindex="-1"></a>
      <div class="flex items-center gap-2"><span
        class="size-6 inline-grid shrink-0 align-middle [--avatar-radius:20%] [--ring-opacity:20%] *:col-start-1 *:row-start-1 outline outline-1 -outline-offset-1 outline-black/[--ring-opacity] dark:outline-white/[--ring-opacity] rounded-full *:rounded-full"
        data-slot="avatar"><img
        alt="" class="size-full"
        src="/events/bear-hug-thumb.jpg"></span><span>Bear Hug: Live in Concert</span>
      </div>
    </td>
    <td
      class="text-right relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3008" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3008" tabindex="-1"></a>US$80.00
    </td>
  </tr>
  <tr
    class="has-[[data-row-link][data-focus]]:outline has-[[data-row-link][data-focus]]:outline-2 has-[[data-row-link][data-focus]]:-outline-offset-2 has-[[data-row-link][data-focus]]:outline-blue-500 dark:focus-within:bg-white/[2.5%] hover:bg-zinc-950/[2.5%] dark:hover:bg-white/[2.5%]">
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3009" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3009" tabindex="0"></a>3009
    </td>
    <td
      class="text-zinc-500 relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3009" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3009" tabindex="-1"></a>Mar 29, 2024
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3009" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3009" tabindex="-1"></a>Emily Selman
    </td>
    <td
      class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3009" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3009" tabindex="-1"></a>
      <div class="flex items-center gap-2"><span
        class="size-6 inline-grid shrink-0 align-middle [--avatar-radius:20%] [--ring-opacity:20%] *:col-start-1 *:row-start-1 outline outline-1 -outline-offset-1 outline-black/[--ring-opacity] dark:outline-white/[--ring-opacity] rounded-full *:rounded-full"
        data-slot="avatar"><img
        alt="" class="size-full" src="/events/viking-people-thumb.jpg"></span><span>Viking People</span></div>
    </td>
    <td
      class="text-right relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-3 sm:first:pl-1 sm:last:pr-1">
      <a aria-label="Order #3009" class="absolute inset-0 focus:outline-none" data-headlessui-state=""
         data-row-link="true"
         href="/orders/3009" tabindex="-1"></a>US$114.99
    </td>
  </tr>
  </tbody>
</table>
