<header class="p-4 flex flex-col">
  <div>
    Header
  </div>

  <div>
    <input placeholder="Search..."/>
  </div>
</header>

<nav class="flex-1 flex flex-col p-4">
  @for (number of [ 1, 2, 3 ]; track number) {
    <button class="p-2 flex justify-between items-center rounded-lg  hover:bg-zinc-200 dark:hover:bg-zinc-900">
      <span>item {{ number }}</span>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
        <path
          d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z"/>
      </svg>
    </button>
  }
</nav>

<footer>
  Footer
</footer>
