<section class="py-6 px-10 max-w-6xl mx-auto">
  <section>
    <header class="flex justify-between items-end">
      <h2 class="text-base/7 font-semibold text-zinc-950 sm:text-sm/6 dark:text-white">Overview</h2>

      <div class="flex relative">
        <select
          class="py-1 pl-3 pr-9 w-full appearance-none rounded-lg text-zinc-950 placeholder:text-zinc-500 dark:text-white border
            border-zinc-950/10 hover:border-zinc-950/20 dark:border-white/10 dark:hover:border-white/20 bg-transparent dark:bg-white/5
            dark:bg-zinc-800 focus:outline-none"
          id="period"
          name="period">
          <option value="last_week">Last week</option>
          <option value="last_two">Last two weeks</option>
          <option value="last_month">Last month</option>
          <option value="last_quarter">Last quarter</option>
        </select>

        <div class="pointer-events-none pr-2 absolute inset-y-0 right-0 flex items-center">
          <svg
            aria-hidden="true"
            class="size-5 stroke-zinc-500 dark:stroke-zinc-400"
            fill="none"
            viewBox="0 0 16 16">
            <path d="M5.75 10.75L8 13L10.25 10.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"/>

            <path
              d="M10.25 5.25L8 3L5.75 5.25"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"/>
          </svg>
        </div>
      </div>
    </header>

    <article class="mt-4">
      <app-catalyst-home-overview/>
    </article>
  </section>

  <section class="mt-12">
    <h2 class="text-base/7 font-semibold text-zinc-950 sm:text-sm/6 dark:text-white">
      Orders
    </h2>

    <div class="mt-4">
      <app-catalyst-home-orders/>
    </div>
  </section>
</section>
